/*  your css code here. If applicable */
div {
	width:330px;
	height:500px;
	box-sizing:border-box;
	padding:15px;
	background-color:lightgray;
}

img {
	height:200px;
	width:280px;
	margin:20px;
}
h1 {
	text-align:center;
}

p {
	text-align:center;
}

button {
	background-color:orangered;
	padding:20px;
	color:white;
	border-radius:20px;
}



