/*  your css code here. If applicable */
div {
	width:330px;
	height:450px;
	box-sizing:border-box;
	background-color:lightgray;
}

img {
	height:200px;
	width:280px;
	margin:20px;
}
h1 {
	text-align:center;
}

p {
	text-align:center;
}




